<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>
<h2>Beosztás adatok feltöltése</h2>
<h4>Szia Zsuzsi! Ide csv fájlokat tudsz betölteni és utána kapsz egy csodálatos beosztást</h4>

<form method="POST" enctype="multipart/form-data">
    <h3>Dolgozók CSV</h3>
    <input type="file" name="workers_csv" accept=".csv" required>

    <h3>Műszakok CSV</h3>
    <input type="file" name="shows_csv" accept=".csv" required>

    <br><br>
    <button type="submit">📅 Beosztás generálása</button>
</form>
</body>
</html>
