<!DOCTYPE html>
<html>
<head>
    <title>Beosztás</title>
</head>
<body>

<h2>Generált beosztás</h2>

{% for show_title, roles in schedule.items() %}
    <h3>{{ show_title }}</h3>

    <ul>
    {% for role, names in roles.items() %}
        <li>
            <b>{{ role }}:</b>
            {% if names %}
                {{ names | join(", ") }}
            {% else %}
                —
            {% endif %}
        </li>
    {% endfor %}
    </ul>
    <hr>
{% endfor %}
    <br>
<a href="{{ url_for('export_csv') }}">
    📄 CSV letöltése
</a>


<a href="{{ url_for('dashboard') }}">🔙 Vissza a főoldalra</a>

</body>
</html>

